// Specific CSS for your home-page

body {
  background-color: black;
  color: rgb(208, 208, 208);
  font-family: "Roboto", sans-serif;
  margin:0px;
}

.title-card{
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  height: 200px;
  flex-direction: column;
  margin: 10%;

  h1 {
    color: white;
    font-size: 64px;
    font-weight: bold;
  }

  p {
    color: gray;
    font-style: italic;
    font-size: 32px;
    width: 60%;
    text-align: center;
  }

  i {
    font-size: 60px;
    color: rgb(176, 176, 116);
  }
}
