// Specific CSS for your home-page
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-color: #090947;
  background-image: linear-gradient(315deg, #090947 0%, #383739 74%);


  color: rgb(208, 208, 208);
  font-family: "Roboto", sans-serif;
  margin:0px;
}

.title-card{
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  height: 200px;
  flex-direction: column;
  margin: 10%;

  h1 {
    color: white;
    font-size: 64px;
    font-weight: bold;
  }

  p {
    color: gray;
    font-style: italic;
    font-size: 32px;
    width: 60%;
    text-align: center;
  }

  i {
    font-size: 60px;
    color: rgb(176, 176, 116);
  }
}
