<h1 class="d-flex justify-content-center">Your Pantheon of Gods:</h1>
<% if @gods.count > 0  %>
  <div class="row m-0">
    <% @gods.each do |god| %>
      <%# <%= link_to "#{god.name}", god_path(god) %>
      <div class="col-4">
        <%= render 'shared/index_card', god: god %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="d-flex justify-content-center">"No Gods found- Go create some!"</p>
<% end %>
<%# ye %>
