<div class="item-drawer">
  <div class="item-drawer-content">
    <i class="fa-solid fa-staff-snake god-icon"></i>
    <div class="card-product-infos">
      <h2 class="card-name">God Name</h2>
      <p class="card-desc">Lawful Chaotic deity of Yepppppppppppppppp</p>
    </div>
  </div>
  <div class="item-drawer-button">
    <i class="fas fa-ellipsis-v"></i>
  </div>
  <div class="item-drawer-settings">
    <a href="#"><i class="fas fa-edit"></i></a>
    <a href="#"><i class="fas fa-trash"></i></a>
  </div>
</div>
