<div class="title-card">
  <h1 class="nav-icon">GOD-FORGE</h1>
  <p>A web application to help D&D players, Dungeon Masters and Fantasy World-makers create new, interesting Godly beings, as well as Divine Artifacts & Followers for them!</p>
  <i class="fa-solid fa-place-of-worship nav-icon"></i>
</div>
