<div class="title-card">
  <h1>GodMaker</h1>
  <p>A web application to help D&D players, Dungeon Masters and Fantasy World-makers create, interesting Godly beings!</p>
  <i class="fa-solid fa-place-of-worship nav-icon"></i>
</div>
