.artifact-card {
background-color: rgba(199, 190, 150, 0.479);
border-radius: 8px;
padding: 16px;

  h1 {
    font-size: 32px;
    font-weight: bold;
    color: rgb(167, 8, 8);
  }

  .artifact-properties {
    font-style: italic;
  }

  .artifact-section-ul{
    font-weight: bold;
    text-decoration: underline;
  }
}
