.img-container {
  position: relative;
  padding:0%;
  margin:0%
}

.image {
  width: 400px;
  height: 400px;
  background-color: grey;
  margin: 16px;
  object-fit: fit
};

.remove-btn {
 background: rgb(255, 0, 0);
 color: rgb(79, 79, 79);
 border-radius: 50%;
 position: absolute;
 left: -8%;
 top: 8%;
 opacity: 0.2;
 padding: 4px;

 &:hover {
  opacity: 1;
 }
}


.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
}
.LawfulGood {
  border-image-source: linear-gradient(to top, #7c7e28, #fcff4a, #7c7e28);
}
.NeutralGood {
  border-image-source: linear-gradient(to top, #fcff4a, #ffffff, #fcff4a);
}
.ChaoticGood {
  border-image-source: linear-gradient(to top, #dc9d0a, #fcff4a, #dc9d0a);
}
.LawfulNeutral {
  border-image-source: linear-gradient(to top, #6c8ea1, #969696, #6c8ea1);
}
.TrueNeutral {
  border-image-source: linear-gradient(to top, #969696, #e5e5e5, #969696);
}
.ChaoticNeutral {
  border-image-source: linear-gradient(to top, #9452a0, #969696, #9452a0);
}
.LawfulEvil {
  border-image-source: linear-gradient(to top, #262626, #7b1010, #262626);
}
.NeutralEvil {
  border-image-source: linear-gradient(to top, #262626, #069a19, #262626);
}
.ChaoticEvil {
  border-image-source: linear-gradient(to top, #262626, #7021c4, #262626);
}

.god-backing {
  color: rgb(208, 208, 208);
  font-family: "Roboto", sans-serif;
  background: rgba(152, 152, 152, 0.266);
  border-style: solid;
  border-color: rgba(235, 235, 235, 0.497);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 8px;
  border-radius: 12px;
}
