.navbar-lewagon {
  justify-content: space-between;
  background: rgb(127, 127, 127);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-icon {
  font-size: 32px;

  &:hover {
    color: rgb(180, 180, 54);
   }
}

.nav-link {
  &:hover {
    color: rgb(180, 180, 54);
   }
}
