.false_card {
  width: 400px;
  height: 400px;
  background-color: grey;
  border-radius: 16px;
  margin: 16px;
}

.upload-btn {
  /*  style your button here  */
  padding: 4px;
  border-radius: 8px;
  color: white;
  background-color: black;
  cursor: pointer;
}

.upload-btn input[type="file"] {
  display: none;
}
