<div class="devise-card" data-controller="artifact">
  <h1>New Artifact for <%= @god.name %></h1>
  <%= simple_form_for [@god, @artifact] do |f| %>
    <span class="">
      <%= f.input :random_type, as: :boolean, label: "Choose a type? (Leave unchecked to let fate decide!)", input_html: { data: {action: 'change->artifact#typecheck'} }%>
      <div data-artifact-target="type" class="d-none">
        <%= f.input :type, collection: Artifact::TYPE, label: "What is your Artifact's Type?", prompt: "Select a Type" %>
      </div>
      <input type="submit" name="commit" value="Create Artifact" data-disable-with="Create Artifact" class="btn-create">
    </span>
  <% end %>
</div>
